@import './Login.scss';
@import './SignUp.scss';
@import './Header.scss';
@import './HomePage.scss';

$borderColor: #DBDBDB;
$facebookColor: #385185;
$inputColor: #FAFAFA;
$textColor: #8E8E8E;
$buttonColor: #0096F6;